<ion-content no-padding class="background-gradient">
    <span class="banner" (tap)="tapEvent($event)">
        <img src="assets/img/banner.png"/>      
        <span class="liveText">
            <h2 text-left *ngIf="!splitMode">{{liveDetails}}</h2>
            <h2 text-left *ngIf="splitMode">
                    <ion-row>
                        <ion-col text-left col-10>{{team1}}</ion-col>
                        <ion-col text-center col-2>{{score1}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-left col-10>{{team2}}</ion-col>
                        <ion-col text-center col-2>{{score2}}</ion-col>
                    </ion-row>
            </h2>
            <h6 text-right><ion-icon name="radio-button-on" color="light"></ion-icon> Live</h6>
        </span>  
    </span>
    
    <ion-list class="listPadding" no-padding>
        <ion-item class="mens" no-lines (click)="loginFunction('m')">
            <button ion-item text-center>
                MENS
            </button> 
        </ion-item> 
        <ion-item class="womens"  no-lines (click)="loginFunction('w')">
            <button ion-item text-center>
                WOMENS
            </button> 
        </ion-item> 
        <ion-item class="mixed" no-lines (click)="loginFunction('mi')">
            <button ion-item text-center>
                MIXED
            </button> 
        </ion-item> 
    </ion-list>
</ion-content>
