<ion-content no-padding class="background-gradient">
    <span class="banner" (tap)="tapEvent($event)">
        <img src="assets/img/banner.jpg"/>      
        <span class="liveText">
            <h2 text-left *ngIf="!splitMode">{{liveDetails}}</h2>
            <h2 text-left *ngIf="splitMode">
                    <ion-row>
                        <ion-col text-left col-10>{{team1}}</ion-col>
                        <ion-col text-center col-2>{{score1}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-left col-10>{{team2}}</ion-col>
                        <ion-col text-center col-2>{{score2}}</ion-col>
                    </ion-row>
            </h2>
            <h6 text-right><ion-icon name="radio-button-on" color="light"></ion-icon> Live</h6>
        </span>  
    </span>
    
    <ion-list class="listPadding" no-padding>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-item class="homework" no-lines>
                        <button ion-item text-center>
                            Home Work
                        </button> 
                    </ion-item> 
                </ion-col>
                <ion-col col-6>
                    <ion-item class="events" no-lines>
                        <button ion-item text-center>
                            Events
                        </button> 
                    </ion-item> 
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-item class="news" no-lines>
                        <button ion-item text-center>
                            News
                        </button> 
                    </ion-item> 
                </ion-col>
                <ion-col col-6>
                    <ion-item class="feedback" no-lines>
                        <button ion-item text-center>
                            Feedback
                        </button> 
                    </ion-item> 
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
