<ion-header>
    <ion-toolbar color="header">
        <ion-title text-center *ngIf="data=='Home Work'">Home Work</ion-title>
        <ion-title text-center *ngIf="data=='Events'">Events</ion-title>
        <ion-title text-center *ngIf="data=='News'">News</ion-title>
        <ion-title text-center *ngIf="data=='Feedback'">Feedback</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background-gradient">
    <form [formGroup]="homeworkForm" *ngIf="data=='Home Work'">
        <ion-list>
            <ion-item padding>
                <ion-label stacked>Start Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" formControlName="dateSelect" pickerFormat="DD MMM YYYY"></ion-datetime>
            </ion-item>
            <ion-item padding>
                <ion-label stacked>End Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" formControlName="endDateSelect" pickerFormat="DD MMM YYYY"></ion-datetime>
            </ion-item>
            <ion-item padding>
                <ion-label class='label' stacked>Class</ion-label>
                <ion-select formControlName="className">
                    <ion-option>I</ion-option>
                    <ion-option>II</ion-option>
                    <ion-option>III</ion-option>
                    <ion-option>IV</ion-option>
                    <ion-option>V</ion-option>
                    <ion-option>VI</ion-option>
                    <ion-option>VII</ion-option>
                    <ion-option>VIII</ion-option>
                    <ion-option>IX</ion-option>
                    <ion-option>X</ion-option>
                    <ion-option>XI</ion-option>
                    <ion-option>XII</ion-option>
                </ion-select>
            </ion-item>
            <ion-item padding>
                <ion-label class='label' stacked>Subject Name</ion-label>
                <ion-input type="text" formControlName="subjectName"></ion-input>
            </ion-item>
            <ion-item padding>
                <ion-label stacked>Homework</ion-label>
                <ion-textarea type="text" formControlName="descrip"></ion-textarea>
            </ion-item>
            <ion-input type="hidden" formControlName="rowid"></ion-input>
            <ion-item>
                <button type="submit" class="footerBtn right submit" ion-button icon-right full (click)="submitHomework();">
                    SUBMIT
                </button>
            </ion-item>
        </ion-list>
    </form>
    <form [formGroup]="eventsForm" *ngIf="data=='Events'">
        <ion-list>
            <ion-item padding>
                <ion-label stacked>Start Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" formControlName="startDate" pickerFormat="DD MMM YYYY"></ion-datetime>
            </ion-item>
            <ion-item padding>
                <ion-label stacked>End Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" formControlName="endDate" pickerFormat="DD MMM YYYY"></ion-datetime>
            </ion-item>
            <ion-item padding>
                <ion-label class='label' stacked>Title</ion-label>
                <ion-input type="text" formControlName="eventTitle"></ion-input>
            </ion-item>
            <ion-item padding>
                <ion-label stacked>Detail</ion-label>
                <ion-textarea type="text" formControlName="descrip"></ion-textarea>
            </ion-item>
            <ion-input type="hidden" formControlName="rowid"></ion-input>
            <ion-item>
                <button type="submit" class="footerBtn right submit" ion-button icon-right full (click)="submitEvent();">
            SUBMIT
        </button>
            </ion-item>
        </ion-list>
    </form>
    <form [formGroup]="newsForm" *ngIf="data=='News'">
        <ion-list>
            <ion-item padding>
                <ion-label stacked>Select Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" formControlName="dateSelect" pickerFormat="DD MMM YYYY"></ion-datetime>
            </ion-item>
            <ion-item padding>
                <ion-label class='label' stacked>Title</ion-label>
                <ion-input type="text" formControlName="newsTitle"></ion-input>
            </ion-item>
            <ion-item padding>
                <ion-label stacked>Detail</ion-label>
                <ion-textarea type="text" formControlName="descrip"></ion-textarea>
            </ion-item>
            <ion-input type="hidden" formControlName="rowid"></ion-input>            
            <ion-item>
                <button type="submit" class="footerBtn right submit" ion-button icon-right full (click)="submitNews();">
            SUBMIT
        </button>
            </ion-item>
        </ion-list>
    </form>

</ion-content>