<ion-header>
  <ion-toolbar color="header">
      <ion-title text-center *ngIf="data=='Home Work'">Home Work</ion-title>
      <ion-title text-center *ngIf="data=='Events'">Events</ion-title>
      <ion-title text-center *ngIf="data=='News'">News</ion-title>
      <ion-title text-center *ngIf="data=='Feedback'">Feedback</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding class="background-gradient">
   <form [formGroup]="presetForm">
      <div class="select-control">
          <ion-item no-padding>
              <ion-label class='label' stacked>Name</ion-label>
              <ion-select formControlName="noOfUnits">
                  <ion-option [value]="1">1</ion-option>
                  <ion-option [value]="2">2</ion-option>
                  <ion-option [value]="3">3</ion-option>
                  <ion-option [value]="4">4</ion-option>
                  <ion-option [value]="5">5</ion-option>
              </ion-select>
          </ion-item>
      </div>
      <ion-input type='hidden' (focus)="onFocus($event)" class="hiddenInput"></ion-input>
      <div class="form-control input-text-box">
          <ion-item class="itemborder loanInfo" no-padding>
              <ion-label stacked>Lender MP #</ion-label>
              <ion-input type="text" formControlName="lenderMP" maxLength="10"  ></ion-input>
          </ion-item>
      </div>
      <div class="form-control input-text-box">
          <ion-item class="itemborder loanInfo" no-padding>
              <ion-label stacked>Detail</ion-label>
              <ion-input type="text" formControlName="presetName" maxLength="30"  ></ion-input>
          </ion-item>
      </div>
      <div class="form-control input-text-box" [hidden]="true">
          <ion-item class="itemborder loanInfo" no-padding>
              <ion-input type="text" formControlName="rowid" ></ion-input>
          </ion-item>
      </div>
  </form>
</ion-content>
<ion-footer text-center>
  <ion-grid>
    <ion-row>
      <ion-col text-left col-9>
          powered by - <ion-icon name="ionic" color="header"></ion-icon> Ionic Framework
      </ion-col>
      <ion-col text-right col-3>
        Mobile CoE 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>