<ion-icon name="arrow-round-back" class="backIcon" (click)="navToBack()" *ngIf="visibleBtn"></ion-icon>
<ion-tabs color="header1" *ngIf="data === 'uHome Work'">
  <ion-tab tabTitle="Homework" [root]="tab2Root" [rootParams]="data"></ion-tab>
</ion-tabs>
<ion-tabs color="header1" *ngIf="data === 'uEvents'">
  <ion-tab tabTitle="Events" [root]="tab2Root" [rootParams]="data"></ion-tab>
</ion-tabs>
<ion-tabs color="header1" *ngIf="data === 'uNews'">
  <ion-tab tabTitle="News" [root]="tab2Root" [rootParams]="data"></ion-tab>
</ion-tabs>
<ion-tabs color="header1" *ngIf="data === 'FeedbackForm'">
  <ion-tab tabTitle="Feedback" [root]="tab2Root" [rootParams]="data"></ion-tab>
</ion-tabs>